<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div th:each="weekDay : ${weekDays}">
        <h4>dag</h4>
        <div th:text="${weekDay.nameOfMonth}"></div>
        <div th:text="${weekDay.dayOfWeek}"></div>
        <div th:text="${weekDay.nameOfDay}"></div>
        <div th:text="${weekDay.date.toString()}"></div>
        <br></br>
        <h4>Ansatte</h4>
        <div th:each="eaj:${weekDay.getEmployeeAndJobs()}">
            <div th:text="${eaj.name}"></div>
            <div th:text="${eaj.date.toString()}"></div>

        </div>
    </div>
    <div th:each="weekNavigation, iterStat:${weekNavigation}">
    <a th:href="@{/(year=${weekNavigation.year},weekNumber=${weekNavigation.weekNumber})}" th:text="${iterStat.index} > 0 ? 'next' : 'prev'"></a>
    </div>
</body>
</html>